{% extends 'dox/bulldog.html' %}

{% block head_title %}Civic Calendar index by organization{% endblock %}

{% block head_description %}upcoming civic calendar listing for Lane County, Oregon, sorted by organization{% endblock %}

{% block head_keywords %}civic, calendar, listing, organization{% endblock %}

{% block location %}
	
	{% if page.title or page.description_short %}
		
		<header>
			
			<div id="loc">
				
				<hgroup>
					
					<div class="streamer">
						
						<h1>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</h1>
						
						<h2>{% block location_description %}{% if page.description_short %}<a href="{% url 'public-meeting-list' %}">{{ page.description_short }}</a>{% else %}&nbsp;{% endif %}{% endblock location_description %}</h2>
						
					</div> <!-- /.streamer -->
					
				</hgroup>
				
				{% if page.description_long %}<p>{{ page.description_long|safe }}</p>{% endif %}
				
			</div> <!-- /#loc -->
			
		</header>
		
	{% endif %}
	
{% endblock location %}

{% block body %}
<div class="w_row">
    <div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
        <div id="story">
        {% for event in object_list %}
            {% ifchanged %}
            <h1 class="head{% if forloop.first %} give{% endif %}">{{ event.entity.jurisdiction.name }}</h1>
            {% endifchanged %}
            <p><i>{{ event.creator.profile.pretty_name }}</i><br>
				<b>{{ event.entity.name }}</b>, {{ event.start }}</p>
        {% endfor %}
        </div> <!-- /#story -->
    </div> <!-- /.w_col -->
</div> <!-- /.w_row -->
{% endblock body %}
