{% extends 'dox/bulldog.html' %}
{% load get_url_content %}
{% load adicio_widget %}

{% block head_title %}Civic Calendar{% endblock %}

{% block head_description %}upcoming civic calendar listing for Lane County, Oregon{% endblock %}

{% block head_keywords %}civic, calendar, listing{% endblock %}

{% block head_ad_ids %}
// If desktop, serve weather widget
if (document.documentElement.clientWidth >= 1005){
	googletag.defineSlot('/30582678/RGM', [120, 60], 'ros-weather-widget')
		.setTargeting('pos', ['rgm_weather_widget'])
		.addService(googletag.pubads());
}

// Define ad units
googletag.defineSlot('/30582678/RGM/news/weather', [[320, 50], [728, 90]], 'leaderboard-top')
	.setTargeting('pos', ['atf']) // Above the fold
	.defineSizeMapping(mapping)
	.addService(googletag.pubads());
googletag.defineSlot('/30582678/RGM/news/weather', [300, 250], 'medium-rectangle-1')
	.setTargeting('pos', ['rgm_one'])
	.addService(googletag.pubads());
googletag.defineSlot('/30582678/RGM/news/weather', [300, 250], 'medium-rectangle-2')
	.setTargeting('pos', ['rgm_two'])
	.addService(googletag.pubads());
googletag.defineSlot('/30582678/RGM/news/weather', [300, 250], 'medium-rectangle-3')
	.setTargeting('pos', ['rgm_three'])
	.addService(googletag.pubads());
googletag.defineSlot('/30582678/RGM/news/weather', [[320, 50], [728, 90]], 'leaderboard-bottom')
	.setTargeting('pos', ['btf']) // Below the fold
	.defineSizeMapping(mapping)
	.addService(googletag.pubads());
{% endblock head_ad_ids %}

{% block location %}
	
	{% if page.title or page.description_short %}
		
		<header>
			
			<div id="loc">
				
				<hgroup>
					
					<div class="streamer">
						
						<h1>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</h1>
						
						<h2><span>{% block location_description %}{% if page.description_short %}{{ page.description_short|safe }}{% else %}&nbsp;{% endif %}{% endblock location_description %}</span></h2>
						
					</div> <!-- /.streamer -->
					
				</hgroup>
				
				{% if page.description_long %}<p>{{ page.description_long|safe }}</p>{% endif %}
				
			</div> <!-- /#loc -->
			
		</header>
		
	{% endif %}
	
{% endblock location %}

{% block body %}
<div class="w_row">
	<div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
		<ul class="li3">
		{% for occurrence in object_list %}
		<li>
			<article>
				<div class="w_line">

					<div class="w_unit w_C1of8">
						<div class="wrap">
							<span class="label">
								<a href="{% url 'town-meeting-list' occurrence.event.entity.jurisdiction.slug %}">{{ occurrence.event.entity.jurisdiction.name }}</a>
							</span>
						</div> <!-- /.wrap -->
					</div> <!-- /.w_unit -->

					<div class="w_unit w_C3of8">
						<div class="wrap">
							<h1 class="h6"><a href="{% url 'profile-meeting-list' occurrence.event.creator.profile.slug %}">{{ occurrence.event.creator.profile.pretty_name }}</a></h1>
							<h2 class="sh6"><a href="{% url 'entity-meeting-list' occurrence.event.entity.slug %}">{{ occurrence.event.entity.name }}</a></h2>
							<p class="pub"><a href="{% url 'day-meeting-list' occurrence.start|date:'Y' occurrence.start|date:'b' occurrence.start|date:'j' %}">{{ occurrence.start }}</a></p>
							<p>{{ occurrence.event.contact_string|urlize }}</p>
						</div> <!-- /.wrap -->
					</div> <!-- /.w_unit -->

					<div class="w_unit w_C1of2">
						<div class="wrap">
							<p>{{ occurrence.event.agenda }}</p>
						</div> <!-- /.wrap -->
					</div> <!-- /.w_unit -->

				</div> <!-- /.w_line -->
			</article>
		</li>
		{% endfor %}
		</ul>

		{% include "./_pagination.html" %}

	</div> <!-- /.w_col -->
	
	<div class="w_col w_B300 Blb Clb Dlb">

		{% comment "Getting rid of old ad calls" %}

		<div class="give wrap">
			
			<!-- //////////////////// Medium Rectangle 1 \\\\\\\\\\\\\\\\\\\\ -->
			<div class="advert"><div id='medium-rectangle-1'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-1'); });</script></div></div>
			<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 1 //////////////////// -->
			
			<hr>
			
			<!-- //////////////////// ROS Adicio Widget \\\\\\\\\\\\\\\\\\\\ -->
			{% autoescape off %}
			{% get_adicio_widget %}
			{% endautoescape %}
			<!-- \\\\\\\\\\\\\\\\\\\\ ROS Adicio Widget //////////////////// -->
			
			<hr>
			
			<!-- //////////////////// Medium Rectangle 2 \\\\\\\\\\\\\\\\\\\\ -->
			<div class="advert"><div id='medium-rectangle-2'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-2'); });</script></div></div>
			<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 2 //////////////////// -->
			
			<hr>
			
			{% autoescape off %}
			{% geturl "http://go.registerguard.com/entertainment/go_widget2/4/" 30 %}
			{% endautoescape %}

			<hr>
			
			<!-- //////////////////// Medium Rectangle 3 \\\\\\\\\\\\\\\\\\\\ -->
			<div class="advert"><div id='medium-rectangle-3'><script>googletag.cmd.push(function() { googletag.display('medium-rectangle-3'); });</script></div></div>
			<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 3 //////////////////// -->
			
		</div> <!-- /.wrap -->

		{% endcomment %}
		
	</div> <!-- /.w_col -->

</div> <!-- /.w_row -->
{% endblock body %}
