{% extends 'dox/bulldog.html' %}

{% block head_title %}{{ title_string }} civic calendar{% endblock %}

{% block head_description %}{{ title_string }} upcoming civic calendar listing for Lane County, Oregon{% endblock %}

{% block head_keywords %}civic, calendar, listing, organization{% endblock %}

{% block location %}
	
	{% if page.title or page.description_short %}
		
		<header>
			
			<div id="loc">
				
				<hgroup>
					
					<div class="streamer">
						
						<h1>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</h1>
						
						<h2>{% block location_description %}{% if page.description_short %}<a href="{% url 'public-meeting-list' %}">{{ title_string }} {{ page.description_short }}</a>{% else %}&nbsp;{% endif %}{% endblock location_description %}</h2>
						
					</div> <!-- /.streamer -->
					
				</hgroup>
				
				{% if page.description_long %}<p>{{ page.description_long|safe }}</p>{% endif %}
				
			</div> <!-- /#loc -->
			
		</header>
		
	{% endif %}
	
{% endblock location %}

{% block body %}
<div class="w_row">
	<div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
		<ul class="li3">
		{% for event in object_list %}
			<li>
				<article>
					<div class="w_line">

						<div class="w_unit w_C1of8">
							<div class="wrap">
								<span class="label">
									<a href="{% url 'town-meeting-list' event.entity.jurisdiction.slug %}">{{ event.entity.jurisdiction.name }}</a>
								</span>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

						<div class="w_unit w_C3of8">
							<div class="wrap">
								<h2 class="sh6"><a href="{% url 'entity-meeting-list' event.entity.slug %}">{{ event.entity.name }}</a></h2>
								<p class="pub"><a href="{% url 'day-meeting-list' event.start|date:'Y' event.start|date:'b' event.start|date:'j' %}">{{ event.start }}</a></p>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

						<div class="w_unit w_C1of2">
							<div class="wrap">
								<p>{{ event.agenda }}</p>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

					</div> <!-- /.w_line -->
				</article>
			</li>
		{% endfor %}
		</ul>
	</div> <!-- /.w_col -->
</div> <!-- /.w_row -->
{% endblock body %}
