{% extends 'civic_calendar/meeting_list_profile.html' %}

{% block body %}
<div class="w_row">
	<div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
		<ul class="li3">
		{% for event in object_list %}
			<li>
				<article>
					<div class="w_line">

						<div class="w_unit w_C1of8">
							<div class="wrap">
								<span class="label">
									{{ event.entity.jurisdiction.name }}
								</span>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

						<div class="w_unit w_C3of8">
							<div class="wrap">
								<p class="pub">{{ event.start }}</p>
								<p>{{ occurrence.event.contact_string|urlize }}</p>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

						<div class="w_unit w_C1of2">
							<div class="wrap">
								<p>{{ event.agenda }}</p>
							</div> <!-- /.wrap -->
						</div> <!-- /.w_unit -->

					</div> <!-- /.w_line -->
				</article>
			</li>
		{% endfor %}
		</ul>
	</div> <!-- /.w_col -->
</div> <!-- /.w_row -->
{% endblock body %}