{% extends 'dox/bulldog.html' %}

{% block body %}
<div class="w_row">
    <div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
        <div id="story">
        {% for event in object_list %}
            {% ifchanged %}
            <h1 class="head{% if forloop.first %} give{% endif %}">{{ event.entity.jurisdiction.name }}</h1>
            {% endifchanged %}
            <p><i>{{ event.creator.profile.pretty_name }}</i><br>
				<b>{{ event.entity.name }}</b>, {{ event.start }}</p>
        {% endfor %}
        </div> <!-- /#story -->
    </div> <!-- /.w_col -->
</div> <!-- /.w_row -->
{% endblock body %}
