{% extends 'dox/bulldog.html' %}

{% block head_title %}Calendar{% endblock %}

{% block head_description %}upcoming civic calendar listing for Lane County, Oregon{% endblock %}

{% block head_keywords %}civic, calendar, listing{% endblock %}

{% block location %}
	
	{% if page.title or page.description_short %}
		
		<header>
			
			<div id="loc">
				
				<hgroup>
					
					<div class="streamer">
						
						<h1>{% block location_title %}{% if page.title %}{{ page.title|safe }}{% else %}&nbsp;{% endif %}{% endblock location_title %}</h1>
						
						<h2><span>{% block location_description %}{% if page.description_short %}{{ page.description_short|safe }}{% else %}&nbsp;{% endif %}{% endblock location_description %}</span></h2>
						
					</div> <!-- /.streamer -->
					
				</hgroup>
				
				{% if page.description_long %}<p>{{ page.description_long|safe }}</p>{% endif %}
				
			</div> <!-- /#loc -->
			
		</header>
		
	{% endif %}
	
{% endblock location %}

{% block body %}
<div class="w_row">
    <div class="w_col w_B300 w_C640 w_D980 Bla Cla Dla">
        <div id="story">
        {% for occurrence in object_list %}
            {% ifchanged %}
            <h1 class="head{% if forloop.first %} give{% endif %}">{{ occurrence.event.entity.jurisdiction.name }}</h1>
            {% endifchanged %}
            <p><i><a href="{% url 'profile-meeting-list' occurrence.event.creator.profile.slug %}">{{ occurrence.event.creator.profile.pretty_name }}</a></i><br>
				<b>{{ occurrence.event.entity.name }}</b>, {{ occurrence.start }}</p>
        {% endfor %}
        </div> <!-- /#story -->
    </div> <!-- /.w_col -->
</div> <!-- /.w_row -->
{% endblock body %}
