
{% autoescape off %}{% for occurrence in event_list %}{% ifchanged %}{{ occurrence.event.entity.jurisdiction.name }}{% endifchanged %}{% ifchanged occurrence.event.entity.jurisdiction.name occurrence.event.start|date:'l' %}
{{ occurrence.event.start|date:'l'|upper }}
{% endifchanged %}{{ occurrence.event.entity.name }} — {{ occurrence.event.start|date:'P' }}, {{ occurrence.event.location.name }}, {{ occurrence.event.location.address }}{% if occurrence.event.location.city %}{% if occurrence.event.location.city != occurrence.event.entity.jurisdiction.name %}, {{ occurrence.event.location.city }}{% endif %}{% endif %}.{% if occurrence.event.agenda %} {{ occurrence.event.agenda }}.{% endif %}{{ occurrence.event.contact_string }}
>>{{ occurrence.items }}<<{% endfor %}{% endautoescape %}

{% debug %}
